body{
    background-color: #E0E0E0;
}

.debug-layout{
    /* border: 1px solid black; */
    background: #FAFAFA;
    -webkit-box-shadow: 11px 10px 25px -10px rgba(0,0,0,0.50);
    -moz-box-shadow: 11px 10px 25px -10px rgba(0,0,0,0.50);
    box-shadow: 11px 10px 25px -10px rgba(0,0,0,0.50);
}

.container.main{
    height: 100%;
    position: relative;
}

/* Removes the padding from bootstrap columns */
.col-no-padding{
    padding-left: 0px;
    padding-right: 0px; 
}
/* Removes the right padding from bootstrap columns */
.col-no-dx-padding{
    padding-right: 0px;
}

/* Utility class */
.mt-15{
    margin-top: 15px;
}

/* Defualt main container height is 100 of vertical viewport and has auto vertical overflow */
.main.container{
    height: 100vh;
    overflow-y: auto;
}

/* Articles */
.row.article{
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    /* Until mobile main container height is => 100% - header height - footer height */
    .container.main{
        height: calc(100% - 52px) !important; 
    }
}
@media (min-width: 992px) {
    /* Set the scrollbar for right and left articles container */
    #articles-container,#right-content{
        height: calc(100vh - 42px - 15px);
        overflow-y: auto;
        position: relative;
    }
    #right-articles-container{
        height: calc(100vh - 342px - 15px); /* 100vh - tag cloud height*/
        overflow-y: auto;
        position: relative;
    }
}

/* Footer*/
footer{
    width: 100%;
    height: 30px;
}
footer .row{
    margin: 0px;
}


/* Tag clud */
#tag-cloud{
    padding: 15px;
    height: 300px;
    width: calc(100% - 15px);
    position: absolute;
    bottom: 0px;
}

/* Horizontal navbar */
.navbar{
    margin-bottom: 0px;
    overflow-y: auto;
}


/* Back to top button*/
#backToTop{
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 100%;
    color: white;
    background:rgba(0,0,0,0.8);
}