@media print {
    nav,
    aside,
    footer {
        display: none;
    }
    html,
    body,
    #articles-container,
    .container.main,
    #video-container {
        overflow: visible;
        height: auto;
    }
    .maxh-300-print {
        max-height: 300px;
        width: auto !important;
        margin: auto;
    }
}